<div class="card mb-3">
    <div class="card-header bg-primary text-white text-center">تنظیمات حساب</div>
    <div class="card-body text-center">
        <img src="{{ current_user.avatar or url_for('static', filename='img/avatar.jpg') }}" class="rounded-circle border mb-2" width="120" height="120" alt="آواتار">
        <p class="fw-bold mt-2">{{ current_user.name }}</p>
        <hr>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a class="nav-link" href="{{ url_for('account_info') }}"><i class="fa fa-info-circle me-1"></i> اطلاعات حساب</a></li>
            <li class="list-group-item"><a class="nav-link" href="{{ url_for('account_edit') }}"><i class="fa fa-edit me-1"></i> ویرایش پروفایل</a></li>
            <li class="list-group-item"><a class="nav-link" href="{{ url_for('account_password') }}"><i class="fa fa-key me-1"></i> تغییر رمز عبور</a></li>
            <li class="list-group-item"><a class="nav-link" href="{{ url_for('account_avatar') }}"><i class="fa fa-image me-1"></i> تغییر آواتار</a></li>
            <li class="list-group-item bg-danger text-white"><a class="nav-link text-white" href="/logout"><i class="fa fa-sign-out-alt me-1"></i> خروج</a></li>
        </ul>
    </div>
</div>